body{
    background-color: rgb(54, 54, 54);
}

#result{
    display: flex;
    margin-bottom: 100px;
    color: whitesmoke;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#doors button{
    background-color: gray;
    height: 100px;
    width: 50px;
}

.wrong{
    background-color: red !important;
}

.right{
    background-color: green !important;
}