$min-width: 320px;
$max-width: 1152px;
$max-width-container: 865px;
$max-width-nav-container: 1032px;
$md1: $max-width-container + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$font-family: "Heebo";

$Primary: #FF6464;
$Secondary: #00A8CC;
$Dark: #21243D;
$Light: #EDF7FA;